 .about{
     height:300px;
     width:400px;
     background: white;
     margin-left: 40%;
     display: marquee;
     box-shadow: 3px 3px 5px black;
     padding: 30px;
     margin-top: 30px;
    
 }
 .about p{
    padding:10px;
    font-size:large;
    

 }
.abouttwo{
    height:200px;
    width:600px;
    background: rgb(1, 19, 1);;
    margin-left: 35%;
    margin-top: 3px;
    border-end-start-radius:40px
    
}
.abouttwo p{
    color:white;
    padding:10px;
    font-size:large;
}