.home_container{
background: linear-gradient(
    to right bottom,
rgba(255, 255, 255, 0.4),
rgba(255, 255, 255, 0.4)
    ),url(../asset/background.jpg);
/* background-color: black; */
   height: 100%;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: rgba(0, 0, 0, 0.411);
    
}

.home_bg{
    text-align: center;
    color: azure;
    font-size: large;
}


