.home_container{
background: linear-gradient(
    to right bottom,
rgba(255, 255, 255, 0.4),
rgba(255, 255, 255, 0.4)
    ),url(../asset/background.jpg);
/* background-color: black; */
   height: 100%;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: rgba(0, 0, 0, 0.411);
    animation: slide 100s infinite;
    animation-direction: alternate;
    animation-name: left;

}
@keyframes slide{
    0%{
        background:url(../asset/akagera4.jpg);

    }

    25%{
        background: url(../asset/virunga3.jpg);
    }
    75%{
        background: url(../asset/canopy.jpeg);
    }
    100%{
        background: url(../asset/kivu3.jpg);
    }

}


.home_bg{
    text-align: center;
    color: azure;
    font-size: large;
}


